.container {
    margin-top: 32px;
}
h1 {
    margin-bottom: 16px;
}
#paragraph-container, #null-container, .btn-hide, .li-hide, .hidden-edit, .hidden-pg  {
    display:none;
}
.del:before {
    content: "^";
    color: red;
    position: relative;
    top: 15px;
}
.par {
    font-weight: bold;
}
.spt:before {
    content: "||";
    color: black;
    margin-right: 2px;
    font-size: 1rem;
    letter-spacing: normal;
}
.spt {
    font-size: 1px;
    letter-spacing: -1px;
    color: transparent;
}
.cwi-box h4 {
    margin-top: 8px;
    font-size: 18px;
}
.submit-buttons {
    margin-top: 8px;
}
.submit-buttons .btn-success {
    float: right;
}
.form-control {
    padding: .15rem .75rem;
}
.input-sent {
    font-size: 16px;
    color: black;
}
.alert-info {
    background-color: #ecfafd;
    border-color: #dfdfdf;
}

.modal-body {
    font-style: justify;
}

.ih {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    margin-bottom: 100px;
}
.header {
    display: flow-root;
}
.lead {
    float: left;
}
.header h4 {
    float: right;
    margin-top: 4px;
}
.alert {
    margin: 1rem 1rem;
    padding: 16px 68px 16px 68px;
}
.row>* {
    flex-shrink: inherit;
}
.ui-sortable-handle .col-2 {
    max-width: 76px;
}
.ui-sortable-handle .col-10 {
    padding-left: 4px;
}
.form-control.is-invalid {
    background-image: none !important;
    padding-right: inherit;
}
.invalid-feedback {
    font-size: 0.63em;
    line-height: 10px;
}
.btn-fix {
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    width: 100%;
    margin-top: 8px;
}
.span-modal-body .par:before {
    content: "v";
    color: rgb(52, 133, 255);
    font-size: 10px;
    position: relative;
    top: -10px;
    font-weight: 500;
}
.span-modal-body .par:after {
    content: "v";
    color: rgb(52, 133, 255);
    font-size: 10px;
    position: relative;
    top: -10px;
    font-weight: 500;
}
.span-modal-body {
    margin-left: 16px;
    margin-right: 16px;
}
.modal-header {
    display: block;
}
.fix-span-instructions {
    padding-top: 0.75rem;
    font-style: italic;
}
.modal-header .alert-info {
    padding: inherit;
    margin-left: 0;
    margin-right: 0;
}

/* Extra CSS for tutorial */
.instructions .card {
    padding: 16px;
    padding-top: 32px;
}
.instruction-del {
    color: red;
    text-decoration: line-through;
}
.instruction-par {
    color: green;
}

/* Please delete this!! */
.col-2 {
    max-width: 76px;
}

.col-10:first-letter{
    text-transform: capitalize;
}
.caps{
    text-transform: capitalize;
}
.header-label {
    font-size: 0.75rem;
    font-weight: 500;
    font-style: italic;
    margin-top: 0.5rem;
}
.alert-no-ratings {
    padding: 16px;
}
.li-no-ratings {
    margin-left: 16px;
    margin-right: 16px;
}